<ion-view class="bookmarks-view">
  <ion-nav-title>
    <span>About the Centro</span>
  </ion-nav-title>
  <ion-content>
  <ion-nav-title>
    <span>Image</span>
  </ion-nav-title>
          <div class="item item-image">
            <img ng-src="/img/RRCEntrance.jpg">
          </div>
          <div class="item item-body">
            <p style= text-align:center>Bienvenidos to the Raza Resource Centro! We exist because of a strong student, staff, and faculty activist movement aimed at establishing a more inclusive campus. The Raza Resource Centro team is committed to our student’s success and we work collectively to meet the needs of our students. The Centro is a lively space where students study, meet, write, get tutoring, and most importantly are in community. It is a space where Latina/o Chicana/o organizations hold meetings, events and where cultura, arte, and academics interconnect. 
<h2 style= text-align:center>We offer programs around:</h2>
<ul style= text-align:center>
  <li>Peer Counseling</li>
  <li>Student internships and programs</li>
  <li>Research and conference preparation</li>
  <li>Woman’s group collective</li>
  <li>1st year and transfer student transition</li> day
  <li>Weekly writing collective</li>
  <li>Math and Science Tutoring</li>
  <li> Graduate School Preparation</li>
  <li>Real world Success Series</li>
  <li>Career Success Series</li>
  <li>Prospective student overnight track</li>
</ul>

<h2 style= text-align:center>Our space offers students:</h2>
<ul style= text-align:center>
  <li>Computer Lab</li>
  <li>Chicana/o library</li>
  <li>Lobby area</li>
  <li>Kitchen with fridge and microwave</li>
  <li>Conference room</li>
  <li>Professional support staff</li>
</ul>
<h2 style= text-align:center>
  Please join us whenever you can and remember, Mi Casa Es Tu Casa! 
  <br>
  <br>
  We are located on the 1st floor of the Student Services Center; on the corner facing Pepper Canyon Hall and the Conrad Prebys Music Center</h2>
</p>
          </div>
        </div>
  </ion-content>
</ion-view>
  </ion-content>
</ion-view>
