<ion-view class="wordpress-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>The Team</span>
  </ion-nav-title>
  <ion-content>
  <div class="list card">
  <div class="item item-avatar">
    <img src="/img/team/Gerardo.jpg">
    <h2>Gerardo Arellano</h2>
    <p>Director</p>
  </div>
  <div class="item item-body">
    <p>
      Gerardo N. Arellano received his Ph.D. from UC Berkeley and his BA from UC San Diego in the departments of comparative ethnic studies. He has extensive experience working with underserved students of color at the community, high-school, and university levels. He loves to work with students and he enjoys advising graduate and undergraduate students, strategic planning, curriculum design, program development and assessment. 
    </p>
  </div>
  <div class="item item-avatar">
    <img src="/img/team/claudia.jpg">
    <h2>Claudia Martinez</h2>
    <p>Assistant Director</p>
  </div>
  <div class="item item-body">
    <p>
      Claudia Martinez was born and raised in Tijuana, México. She moved to the United States at the age of 14 with her parents and younger brother in 2001 just in time to enter high school. She graduated from the University of Redlands with a Bachelor’s degree in Race and Ethnic Studies and Spanish in 2009 and is finishing her Master’s Degree in Higher Education.
    </p>
  </div>
  <div class="item item-avatar">
    <img src="/img/team/Samantha.jpg">
    <h2>Samantha Llanos</h2>
    <p>Graduate Intern</p>
  </div>
  <div class="item item-body">
    <p>
      Samantha, a proud UC San Diego graduate, is currently completing her Master’s Degree in Post-Secondary Educational Leadership at San Diego State University. While at UC San Diego, she earned a BS in Psychology and a BA in Human Development.  Before transferring to UC San Diego, she received an AA in Liberal Studies with an Emphasis in Mathematics and Science from MiraCosta College. Samantha is a passionate advocate and resource for all students.
    </p>
  </div>
  <div class="item item-avatar">
    <img src="/img/team/Eddie.jpg">
    <h2>Eddie Tapia</h2>
    <p>Marketing/IT Intern</p>
  </div>
  <div class="item item-body">
    <p>
      Eddie is a 2nd year undergraduate majoring in Mathematics-Computer Science. At the centro, he is in charge of the weekly newsletter, programming the Raza app, and works the front desk. This academic year, Eddie wants to impact the lives of other students and help the Raza community not only survive at UCSD, but to thrive at UCSD. He hopes to connect students to opportunities that will help them prepare for life after UCSD.
    </p>
  </div>
  <div class="item item-avatar">
    <img src="/img/team/Najely.jpg">
    <h2>Najely Gomez</h2>
    <p>Programming Assistant Intern</p>
  </div>
  <div class="item item-body">
    <p>
      Najely Gomez, is a senior in Roosevelt Colege majoring in public health and minoring in international migration studies. She will be interning as the Program Assistant and hopes to provide to Latino/Chicano(a) students academic services and a place where they will feel like they are at home. She wants students to feel that the Raza Resource Center is a space where they could study, make use of computers/printers, and network with other Latino/Chicano(a) students that could possibly be their support throughout their academic career at UC San Diego.
    </p>
  </div>
  <div class="item item-avatar">
    <img src="/img/team/Jocelyn.jpg">
    <h2>Jocelyn Heredia</h2>
    <p>Community Engagement Intern</p>
  </div>
  <div class="item item-body">
    <p>
      Jocelyn Heredia is a history major with a minor in law and society. She is the community engagement intern hoping to expand the knowledge and opportunities that UCSD and its students have to offer to the larger San Diegan community. Jocelyn believes that working at the RRC will allow her to implement her skills to create a meaningful, impactful program at the RRC.
    </p>
  </div>
  <div class="item item-avatar">
    <img src="/img/team/Kim.jpg">
    <h2>Kimberly Alejandra Salazar</h2>
    <p>Yield & Retention Coordinator Intern</p>
  </div>
  <div class="item item-body">
    <p>
      Kimberly is a Social Psychology major with a minor in Urban Studies and Planning from Muir college. As the Yield and Retention Coordinator Intern, she hopes to create and develop programs that will help students achieve their goals to ultimately graduate from UC San Diego. In addition, she would like to see more underrepresented students visiting the campus to foster a sense of college attendance.
    </p>
  </div>
  <div class="item item-avatar">
    <img src="/img/RazaLife.jpg">
    <h2>Elizabeth Uribe</h2>
    <p>Arte & Cultura Intern</p>
  </div>
  <div class="item item-body">
    <p>
      Elizabeth is a 3rd year student from Muir College double majoring in theatre and communications. Her position at the RRC is the Arte & Cultura Intern. She hopes to accomplish events, programs, and workshops that encompass arte, Chican@/ Latin@ cultura, and social justice into the centro for students to learn and enjoy. She also hopes to shine light on the importance of art and culture hidden within our communities.
    </p>
  </div>
  <div class="item item-avatar">
    <img src="/img/team/Sonia.jpg">
    <h2>Sonia Garcia Avelar</h2>
    <p>Yield & Retention Coordinator Intern</p>
  </div>
  <div class="item item-body">
    <p>
      Sonia is a third year undergraduate student in Eleanor Roosevelt College, majoring in Political Science with an emphasis in Public Law. She hopes to establish a welcoming environment for the UCSD Chican@/ Latin@ community. Through this position she hopes to create effective access and retention programs in order to create a stable educational pipeline to UCSD as well as maintain our current students within the university through graduation.
    </p>
  </div>
  <div class="item item-avatar">
    <img src="/img/team/Adan.jpg">
    <h2>Adán Chávez</h2>
    <p>Arte & Cultura Intern</p>
  </div>
  <div class="item item-body">
    <p>
      Adán is a 2nd year student from Thurgood Marshall College studying Political Science and Spanish Lit. This year, Adán is excited to develop programming that enhances the awareness and understanding of Chicano/a and Latino/a culture and art from our traditions, customs, and history. As a first-generation, working-class, queer, and Chicano student, Adán believes that it is important to find strength in the various facets of our identities and encourages others to be involved in organizations that nourish our political, social, educational, and cultural consciousness. 
    </p>
  </div>
  <div class="item item-avatar">
    <img src="/img/team/Leonel.jpg">
    <h2>Leonel Perez</h2>
    <p>Social Justice Intern</p>
  </div>
  <div class="item item-body">
    <p>
      Leo is a 2nd year undergraduate from Thurgood Marshall College. This year, Leonel will serve as the social justice intern at the RRC and hopes to engage students in social justice issues. Leo wants to work in the RRC to help other Latino students and to grow as a person.
    </p>
  </div>
</div>
  </ion-content>
</ion-view>
