<ion-view class="feeds-categories-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Our Partners</span>
  </ion-nav-title>
  <ion-content>
    <div class="list">

    <a class="item item-thumbnail-left">
      <img src="img/RazaLife.jpg">
      <h2>La Fe</h2>
      <p></p>
    </a>
      <a class="item item-thumbnail-left">
      <img src="img/RazaLife.jpg">
      <h2>MEChA</h2>
      <p></p>
    </a>
    <a class="item item-thumbnail-left">
      <img src="img/RazaLife.jpg">
      <h2>SHPE</h2>
      <p></p>
    </a>
    <a class="item item-thumbnail-left">
      <img src="img/RazaLife.jpg">
      <h2>Black Resource Center</h2>
      <p></p>
    </a>
    <a class="item item-thumbnail-left">
      <img src="img/RazaLife.jpg">
      <h2>Women's Center</h2>
      <p></p>
    </a>
    <a class="item item-thumbnail-left">
      <img src="img/RazaLife.jpg">
      <h2>LGBT Center</h2>
      <p></p>
    </a>
    <a class="item item-thumbnail-left">
      <img src="img/RazaLife.jpg">
      <h2>Cross Community Center</h2>
      <p></p>
    </a>
    <a class="item item-thumbnail-left">
      <img src="img/RazaLife.jpg">
      <h2>Office of EDI</h2>
      <p></p>
    </a>
</div>
  </ion-content>
</ion-view>
